node_modules
dist
dist-ssr
.DS_Store
*.local
.vite
.env
.env.local
.env.*.local
backend/.env
backend/.env.local
backend/.env.*.local
.vercel
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.pnp.*
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
